{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <p>Вета, 23 года.</p>
                <a href="https://github.com/ElizavetaAanisimova">Мой аккаунт на GitHub</a>
              </div>
            </li>
          </ul>                                               
        </div>                    
      </div>                
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">                    
        <div class="card-text">
          <p>Привет! Вообще-то я юрист, и до недавнего времени ничего другого делать не умела. Год назад окончила университет, но работать по специальности начала с 19 лет. Уже накопился опыт иии... понимание, что хорошо бы сменить сферу деятельности)))
            <p>Я хочу научиться воплощать в жизнь свои идеи, у меня их в голове миллион и еще одна. Чаще всего они требуют технического решения, а знаний у меня явно не хватает. Так я и попала на вводный курс по питону (мне его посоветовали как первый язык), и меня затянуло.
                Иногда приходится тяжело. И ты долго бьешься над заданием, ищешь ответы на свои вопросы, ищешь ошибки, но конце концов оно у тебя получается, и, несмотря на всю затраченную энергию, тебе это кажется волшебством. Вот ничего не было, а вот уже все работает!!*</p>
            <p>*восхищения гуманитария</p>
            <p>Я уже прошла долгий путь и хочу выразить особую благодарность моему псу, который всегда готов подменить меня в этом нелегком деле и расшифровать любое послание ревьюера.</p>        
        </div>                    
      </div>                
    </div>            
  </div>        
</main>
{% endblock %}