{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block header %}{{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "includes/author_card.html" %}
        {% if request.user != author %}
            <li class="list-group-item">
                {% if following %}
                    <a class="btn btn-lg btn-light" 
                        href="{% url 'profile_unfollow' author.username %}" role="button"> 
                    Отписаться 
                    </a> 
                {% else %}
                    <a class="btn btn-lg btn-primary" 
                        href="{% url 'profile_follow' author.username %}" role="button">
                    Подписаться 
                    </a>
                {% endif %}
            </li>    
        {% endif %}           
        <div class="col-md-9">
            {% for user_post in page %} 
                {% include "includes/post_card.html" %}       
            {% endfor %}

        {% include "includes/paginator.html" %}
        </div>
    </div>
</main>
{% endblock %}